
 <%- include('partials/header') %>



  <!--about-->
  <!--1st con-->
    <div class="container abtcon">
        <h3 class="abth3">About us</h3>
        <div class="aboutbg mx-auto"></div>
        <p class="abtp mt-5">E-connect started with a friendship and grew to be a successful business that still retains its core values: putting great emphasis on <b>teamwork, transparency, commitment, consistency, quality,</b> and always being ready to support and help out both clients and colleagues. The company was founded in 2013 by professional affiliate marketers and webmasters with (as of now)<b> 20+ years of experience.</b><br><br>
                    "We were friends at school and university, brought together by our shared interest in technology and marketing as well as the desire to find the best way to attain self-realization and success. While striving to grow financially, we didn't want to get tangled up in the complex corporate culture. As newcomers to the industry, we often encountered the lack of proper technology and high entry barriers for thousands of webmasters and affiliates, soon realizing that we have valuable experience and skills that we can and want to share. So we decided to create something new, both for ourselves and the market."<br><br>
                     Now we have a highly professional IT department, experienced account managers (many quit similar companies to work for E-connect), a risk management and policy team, and other skilled employees.
                    Today E-connect is a well-known brand with a good reputation and has been recognized by many bloggers and affiliates as one of the best adtech platforms in the industry. E-connect offers a unique combination of innovative technology and human intelligence.</p>
    </div>

    <div class="container bg-light shadow mission">
        <h3 class="missionh3">Our mission</h3>
        <p class="missionp">
          We <b> connect advertisers and publishers </b> of all sizes and from anywhere globally, helping them grow their capital, develop their skills, and improve as professionals to ensure a successful present and future. <br><br>

        We set up and pursue high traffic and service quality standards and contribute to adtech market development by introducing innovative products and sharing our expertise and knowledge with the community.
        </p>
    </div>

    <div class="container mt-5 conpart">
      <h3 class="abth3 mt-2">Our partners</h3>
      <div class="row">
        <div class="col-6">
            <img src="img/octa.png" class="partimg" alt="">
        </div>
        <div class="col-6">
          <img src="img/cyber.png" class="partimg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="img/moar.png" class="partimg py-2" alt="">
        </div>
        <div class="col-6">
          <img src="img/mob.png" class="partimg py-2" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="img/basebone.jpg" class="partimg py-2" alt="">
        </div>
        <div class="col-6 py-2">
          <img src="img/coinis.png" class="partimg py-2" alt="">
        </div>
      </div>
    </div>


  
    <%- include('partials/footer') %> 