
    
  <%- include('partials/header') %>


  <!--careers-->
  <div class="container carcon">
      <div class="carimg"></div>
      <h3 class="carh3 mt-4">Careers at <b>E-connect</b></h3>
      <p class="carp">We're aways looking for new talents! If you're experienced in one of the following,<br> please, don't hesitate to contact us:</p>
      <p class="bold"><i class="fas fa-angle-double-right"></i>SALES &nbsp; <i class="fas fa-angle-double-right"></i>CUSTOMER SUPPORT &nbsp; <i class="fas fa-angle-double-right"></i>PR&MARKETING&nbsp;
        <i class="fas fa-angle-double-right"></i>TRAFFIC ACQUISITION</p>

        <div class="mt-5 bg-light shadow p-5">
            <h4 class="carh33 mt-2"><b>WE OFFER:</b></h4>
            <div class="mt-5">
                <div class="row">
                    <div class="col-6">
                        <i class="fas fa-briefcase cari"></i>
                        <p class="carp"> Regular and scheduled payments in <br> accordance with European Labour Law </p>
                    </div>
                    <div class="col-6">
                        <i class="fas fa-clock fa-solid cari"></i>
                        <p class="carp"> Flexible working hours </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <i class="fas fa-medkit cari"></i>
                        <p class="carp"> Health insurance care</p>
                    </div>
                    <div class="col-6">
                        <i class="fas fa-coffee cari"></i>
                        <p class="carp"> little task, high payments.</p>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <%- include('partials/footer') %> 