<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.css">
    <link rel="stylesheet" href="style.css">
    <title>Profile</title>
</head>
<body class="persbody">
     <!--nav-bar-->
  <div class="bg1st shadow sticky-top">
    <nav class="topnav container">
      <a href="" class="navbar-brand me-auto">
        <div class="logo">E-connect.</i></div>
      </a>


      <div class="topnav-right head2">
        <a href="/" class="head1  btn"> <i class="fas fa-power-off text-danger"></i> Logout</p> </a>
        <a href=""><p class="ic"></p></a>
   </div>
   <div class="float-end mt-2"><a href="" data-bs-toggle="modal" data-bs-target="#myModalpers"><p class="ic"></p></a></div>
   
</nav>
</div>
<!-- The smallscreen Modal -->
<div class="modal" id="myModalpers">
    <div class="modal-dialog modal-lg">
      <div class="modal-content persmodal mt-2">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <a href="/" class=" me-auto btn btn-danger" style="text-decoration: none; color: white;"> <i class="fas fa-power-off"></i> Logout</a>
         </div>
  
      </div>
    </div>
  </div>

  <div class="row container mainbody">
    <div class="col-md-4 p-3">
      <div class="col-12 prow">
          <div class="avatar"></div>
          <p class="mt-2 bold">Username: <%= person.firstname %> <%= person.lastname %></p>
          <p class="bold">ID: <%= person.ID%></p>
          <div class="card prpcard shadow"><%= person.plan%></div>
      </div>
  </div>

    <div class="col-md-8 py-2">
        <div class="col-12">
           <div class="container tcon">
            <ul class="tconul">
                <li class="tlis">
                    <a href="/personal-area" class="tlis">Task area</a>
                </li>
                <li class="tlis">
                    <a href="/withdraw" class="tlis">Withraw</a>
                </li>
                <li class="active tlis">
                    <a href="/change-plan" class="active tlis">Change Plan</a>
                </li>
            </ul>
           </div> <hr>

           <div class="card chngpu shadow">
            You have become a distinguished member user of E-connect,
            you can upgrade your plan to get higher task reward and invitation reward.
           </div>

           <div class="card mt-3 chnpc p-3">
            <table class="chnt">
              <tr>
                <th> plan</th>
                <th>register</th>
                <th>weekly payments</th>
              </tr>
              <tr>
                <td>Bronze</td>
                <td>3,499 NGN</td>
                <td>1,499 NGN</td>
              </tr>
              <tr>
                <td>Silver</td>
                <td>7,499 NGN</td>
                <td>3,499 NGN</td>
              </tr>
              <tr>
                <td>Gold</td>
                <td>120,000 NGN</td>
                <td>75,000 NGN</td>
              </tr>
              <tr>
                <td>Platinum</td>
                <td>300,000 NGN</td>
                <td>240,000 NGN</td>
              </tr>
            </table>

           </div>
           
           <p class="mt-2">Select new plan:</p>
           <select class="form-select" id="sel1" name="sellist1">
            <option>bronze</option>
            <option>silver</option>
            <option>gold</option>
            <option>Platinum</option>
          </select>

          <a href="/change-payment" class="btn btn-success mt-3" type="button" style="padding: 5px; border-radius:5px; width: 100%;">Make payment</a>
           <hr>
           <p class="lp">©2022<span style="color: darkgreen;"> E-connect</span>.All rights reserved </p>
        </div>
    </div>
  </div>
  <script src="index.js"></script>
<script src="server.js"></script>
<script src="bootstrap5/js/bootstrap.bundle.min.js"></script>
</body>
</html>