<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body class="">
<!--nav-bar-->
<div class="bg1st shadow sticky-top">
  <nav class="navbar  container  align-item-center  navbar-expand-lg d-flex order-list">
    <a href="/" class="navbar-brand me-auto">
      <div class="logo">E-connect.</i></div>
    </a>
      </div> 
  </nav>

  <div class="container">
    <div class="card p-5 mt-3" style="background-color:#061306;">
      <h1 style="text-align: center; color:white;">reset password</h1>
        <form action="" method="POST" class="mx-auto">
          <label  for="email">new password:</label> 
          <input class="form-control" type="password" name="pswd" id="password">
          <label for="email">confirm password:</label> 
          <input type="password" class="form-control" name="confirm_password" id="password">
          <input class="mt-3" type="submit" value="submit" /> 
        </form>
      </div>
  </div>

</body>
</html>
<%- include('partials/footer') %> 