
 <%- include('partials/header') %>


<!--weeklyp con-->
<div class="container-fluid bg-light shadow">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="col-12">
            <h3 class="weeklyh3 mt-3">You have found the <span style="color: darkgreen ;"> best </span><br>
              ads plartform </h3>
          </div>
        </div>
        <div class="col-md-6 py-2">
          <div class="col-12">
            <div class="pointl"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container poplcon">
  <div class="row">
    <div class="col-4">
        <div>
          <div class="card shadow bg-light poplc">
            <b>10 000 +</b>
            publishers
            <div class="linew mx-auto"></div>
          </div>
        </div>
    </div>
    <div class="col-4">
      <div>
        <div class="card shadow bg-light poplc">
          <b>500 million</b>
          impr/day
          <div class="linew mx-auto"></div>
        </div>
      </div> 
    </div>
    <div class="col-4">
      <div>
        <div class="card shadow bg-light poplc">
          <b>21 filter</b>
          targeting
          <div class="linew mx-auto"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-6">
       <h3 class="weeklyh3b"><span style="color:darkgreen;">Self-Serve</span> Platform
        for Benefiting</h3> 
        <p class="weeklyp">E-connect advertising platform (SSP) is an effective solution to level up your performance marketing and digital advertising strategy. Get started immediately to reach the right audience!
        </p>
    </div>
    <div class="col-6">
        <div class="laptop"></div>
    </div>
  </div>
</div>


<!--3rd bg-->
<div class="container">
  <h3 class="h3b mt-4">Why choose us</h3>
  <div class="anima"> </div>
<div class="card card3a mt-3 shadow">
  <div class="row">
      <div class="col-md-6">
        <div class="col-12">
            <i class="fas fa-heart ti"></i>
            <h4 class="h4b">Partner Care</h4>
            <p class="p4">More than just support. In addition to the 24/7 multilingual online chat, we will 
              analyze your specific task and help you choose the most effective ad format and/or settings.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-12">
          <i class="fas fa-cloud ti"></i>
            <h4 class="h4b">Multiple Ad Formats</h4>
            <p class="p4">Make more money with our vast variety of web and mobile ad formats: <b>Popunder, Native Banners, Banners, Social Bar, Direct Link and VAST video.</b></p>
        </div>
      </div>
  </div>
</div>

<div class="card card3b mt-5 shadow">
  <div class="row">
      <div class="col-md-6">
        <div class="col-12">
            <i class="fas fa-credit-card ti"></i>
            <h4 class="h4b">Tailored Payment Options</h4>
            <p class="p4">Become our partner without hassle! We integrated onboarding materials into your account to familiarize yourself quicker. 
              And our lightning-fast moderation will allow you to get started in no time.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-12">
          <i class="fas fa-check ti"></i>
            <h4 class="h4b">Three-Level Security</h4>
            <p class="p4">E-connect utilizes an effective combination of innovative in-house and reliable third-party fraud detection systems, 
              as well as a proper human check, and provides you with the safest experience possible.</p>
        </div>
      </div>
  </div>
</div>
</div>

<%- include('partials/footer') %> 